<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Cybersecurity App{% endblock %}</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'bookmarks' %}">Bookmarks</a></li>
            <li><a href="{% url 'check_dck' %}">Check DCK</a></li>
            <li><a href="{% url 'check_about' %}">Check About</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
